<div class="container-fluid home-container">
    <div class="row d-flex justify-content-end p-5">
        <button mat-raised-button color="warn" (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Log Out</span>
        </button>
    </div>
    <div class="row d-flex justify-content-center">
        <h1>HOME</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row p-5">
                <div class="col-md-4">
                    <!-- <mat-form-field class="mr-3">
                        <mat-label>Peer Id</mat-label>
                        <input matInput placeholder="Input Peer Id" [formControl]="anotherid">
                        <mat-icon matSuffix>input</mat-icon>
                        <mat-error *ngIf="anotherid?.hasError('required')">Required</mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="accent" (click)="connect()">Connect</button> -->
                    <span>My RoomId: <strong>{{roomid | async}}</strong></span>
                </div>
                <div class="col-md-4">
                    <span>My PeerId: <strong>{{mypeerid | async}}</strong></span>
                </div>
                <div class="col-md-4">
                    <span>My SocketId: <strong>{{mysocketid | async}}</strong></span>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-3">
            <div class="row px-3">
                <span>ONLINE USERS</span>
                <mat-accordion class="list-user-container">
                    <mat-expansion-panel *ngFor="let user of (listOnlineUser | async)">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="my-auto">
                                {{user.email | slice:0:10}}
                                <span *ngIf="user.email.length > 10">...</span>
                            </mat-panel-title>
                            <mat-panel-description>
                                <button mat-mini-fab color="primary" (click)="requestCall(user)">
                                    <mat-icon>videocam</mat-icon>
                                </button>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="container-fluid">
                            <mat-list role="list">
                                <mat-list-item role="listitem">
                                    <div class="row d-flex justify-content-between">
                                        <div>
                                            socket id:
                                        </div>
                                        <div>
                                            <strong>{{user.socketId}}</strong>
                                        </div>
                                    </div>
                                </mat-list-item>
                                <mat-list-item role="listitem">
                                    <div class="row d-flex justify-content-between">
                                        <div>
                                            peer id:
                                        </div>
                                        <div>
                                            <strong>{{user.peerId}}</strong>
                                        </div>
                                    </div>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
    <div class="row mt-3 px-3">
        <mat-card class="chat-box-global-container">
            <mat-card-header>
                <mat-card-title>Chatbox</mat-card-title>
                <mat-card-subtitle>Global</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="chat-content-container">
                    <div class="container-fluid my-2" *ngFor="let mess of globalChatMessage">
                        <div class="row d-flex" [ngClass]="{'justify-content-end': mess.floatRight}">
                            <div class="sub-text mx-2">
                                <span>{{mess.sender.email}}</span>
                            </div>
                        </div>
                        <div class="row d-flex" [ngClass]="{'justify-content-end': mess.floatRight}">
                            <div class="chat-box p-2 mx-2">
                                <span>{{mess.message}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions class="row d-flex justify-content-center">
                <mat-form-field class="w-75 pr-3">
                    <mat-label>Input Text</mat-label>
                    <input matInput type="text" [(ngModel)]="chatValue">
                    <button mat-button *ngIf="chatValue" matSuffix mat-icon-button aria-label="Clear" (click)="chatValue=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-raised-button color="accent" (click)="sendGlobalMess()">Send</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="row d-flex justify-content-around p-5" *ngIf="(roomid | async) || 1===1">
        <div class="my-video-container">
            <div class="row d-flex justify-content-center">
                <video class="my-video" id="myvideo" [srcObject]="myStream" myvideo autoplay></video>
            </div>
            <div class="row d-flex justify-content-center mt-2">
                <button mat-fab color="accent" (click)="toogleMic()">
                    <mat-icon class="">{{micIcon}}</mat-icon>
                </button>

                <button mat-fab color="accent" (click)="toggleVideo()">
                    <mat-icon class="">{{videoIcon}}</mat-icon>
                </button>

                <button mat-fab color="warn" (click)="endCall()">
                    <mat-icon class="">call_end</mat-icon>
                </button>
            </div>
        </div>
        <div>
            <mat-card class="chat-box-global-container">
                <mat-card-header>
                    <mat-card-title>Chatbox</mat-card-title>
                    <mat-card-subtitle>Room <strong>{{roomid | async}}</strong></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="chat-content-container">
                        <div class="container-fluid my-2" *ngFor="let mess of globalChatMessage">
                            <div class="row d-flex" [ngClass]="{'justify-content-end': mess.floatRight}">
                                <div class="sub-text mx-2">
                                    <span>{{mess.sender.email}}</span>
                                </div>
                            </div>
                            <div class="row d-flex" [ngClass]="{'justify-content-end': mess.floatRight}">
                                <div class="chat-box p-2 mx-2">
                                    <span>{{mess.message}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions class="row d-flex justify-content-center">
                    <mat-form-field class="w-75 pr-3">
                        <mat-label>Input Text</mat-label>
                        <input matInput type="text" [(ngModel)]="chatRoomValue">
                        <button mat-button *ngIf="chatRoomValue" matSuffix mat-icon-button aria-label="Clear" (click)="chatRoomValue=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <button mat-raised-button color="accent" (click)="sendRoomMess()">Send</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="row p-5 d-flex justify-content-center">
        <div *ngFor="let video of friendStream">
            <video class="friend-video" [srcObject]="video" #friendvideo autoplay>
            </video>
        </div>
    </div>
</div>    
